* {
    box-sizing: border-box;
    margin: 0;
}


input[type="text"], input[type="select"], input[type="submit"] {
    display: block; 
    margin: 0 auto 20px; 
    width: 80%; 
}

form, h1 {
    text-align: center; 
    margin-top: 20px; 
}
