/* Media queries para dispositivos de hasta 768px */
@media screen and (max-width: 768px) {
    .conteiner {
        flex-direction: column;
        text-align: center;
    }

    .final {
        margin-top: 20px;
    }
    .search>form{
        display: flex;
        margin: 0 1em;

    }

    .search input[type="search"] {
        width: auto;
        margin-right: 0;
        flex: 1;
        border-radius: 10px 0 0 10px;
        margin-bottom: 0;



    }

    .search>form>button{
        border-radius: 0 10px 10px 0;
        padding: 1em 0.1em;
        text-align: center;


    }

    .final{
        font-size: large;
    }
    table{
        margin-top: 1em;
    }

}
@media screen and (max-width: 450px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }



    tr { border: 2px solid #000;
        margin-top: 3px;
    }

    td {

        border-bottom: 1px solid #ddd;

        text-align: center;
    }


    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
    }

}